@import "tailwindcss";

@theme {
  --color-blue-sapphire: #1891c8;
  --color-blue-hover: #166386;
  --color-blue-bground: #F7FCFE;
}

* {
  box-sizing: border-box;
  margin: 0;
  
}

html, body {
  height: 100%;
  font-family: "Montserrat", "sans-serif";
}